.feedback-container {
    max-width: 550px;
    border: 2px solid black;
    margin: 25px auto;
    padding: 5px;
    background-color: white;
}

.instructions {
    background-color: rgba(107,107,107,0.2);
    border-bottom: 1px solid black;
}

.profession, .two, .three, .input {
    width: 545px;
}

//md-18 - black = inactive, yellow = active
.material-icons {
    font-size: 18px;
}

.complete {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.submit {
    font-size: large;
    background-color: #1d3557;
    color: white;
}

.skip {
    font-size: small;
    background-color: grey;
    color: white;
}