<div class="feedback-container">
    <div class="instructions">
        Thank you for choosing Falcon Financial.
        Your feedback is important to us.
        If you have a moment,
        please take the time to fill out this optional questionnaire on your experience creating an account with us.
    </div>
    <form [formGroup]="feedbackForm">
        <mat-form-field appearance="fill" class="profession">
            <mat-label>Are you a financial professional?</mat-label>
            <mat-select formControlName="questionOne">
                <mat-option required value="true">Yes</mat-option>
                <mat-option required value="false">No</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" class="two">
            <mat-label>Overall, how satisfied were you with opening your account? 1-5</mat-label>
            <mat-select formControlName="questionTwo">
                <mat-option required value="5">Very Satisfied</mat-option>
                <mat-option required value="4">Satisfied</mat-option>
                <mat-option required value="3">Neutral</mat-option>
                <mat-option required value="2">Dissatisfied</mat-option>
                <mat-option required value="1">Very Dissatified</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" class="three">
            <mat-label>How easy was it to open an account with us? 1-5</mat-label>
            <mat-select formControlName="questionThree">
                <mat-option required value="5">Very Easy</mat-option>
                <mat-option required value="4">Easy</mat-option>
                <mat-option required value="3">Neutral</mat-option>
                <mat-option required value="2">Hard</mat-option>
                <mat-option required value="1">Very Hard</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" class="input">
            <mat-label>Tell us how we can improve the sign-up process:</mat-label>
            <textarea matInput formControlName="questionFour"></textarea>
        </mat-form-field>
        <div class="complete">
            <button class="submit">Submit</button>
            <button class="skip">skip</button>
        </div>
    </form>
</div>
<div class="thankyou" *ngIf="isSubmitted">
    <p>
        Thank You for feedback and being a loyal customer!
    </p>
</div>
<!-- <div>
    <p>Overall, how satisfied were you with opening your account? 1-5</p>
    <button class="material-icons" formControlName="questionTwo" [style.color]="custom1" 
        (click)="activateStars1()" value="1">star_rate
    </button>
    <button class="material-icons" formControlName="questionTwo" [style.color]="custom2" 
        (click)="activateStars1()" value="2">star_rate
    </button>
    <button class="material-icons" formControlName="questionTwo" [style.color]="custom3" 
        (click)="activateStars1()" value="3">star_rate
    </button>
    <button class="material-icons" formControlName="questionTwo" [style.color]="custom4" 
        (click)="activateStars1()" value="4">star_rate
    </button>
    <button class="material-icons" formControlName="questionTwo" [style.color]="custom5" 
        (click)="activateStars1()" value="5">star_rate
    </button>
</div>
<div>
    <p>How easy was it to open an account with us? 1-5</p>
    <button class="material-icons" formControlName="questionThree" [style.color]="custom21" 
        (click)="activateStars2()" value="1">star_rate
    </button>
    <button class="material-icons" formControlName="questionThree" [style.color]="custom22" 
        (click)="activateStars2()" value="2">star_rate
    </button>
    <button class="material-icons" formControlName="questionThree" [style.color]="custom23" 
        (click)="activateStars2()" value="3">star_rate
    </button>
    <button class="material-icons" formControlName="questionThree" [style.color]="custom24" 
        (click)="activateStars2()" value="4">star_rate
    </button>
    <button class="material-icons" formControlName="questionThree" [style.color]="custom25" 
        (click)="activateStars2()" value="5">star_rate
    </button>
</div> -->