<div class="article-container">
    <mat-card class="article-card" *ngFor="let article of articles">
        <mat-card-title-group>
          <mat-card-title>{{article.title}}</mat-card-title>
          <!-- <mat-card-subtitle>Small</mat-card-subtitle> -->
          <img mat-card-md-image src="{{article.image_url}}" >
        </mat-card-title-group>
        <mat-card-content>
            {{article.description}}
        </mat-card-content>
        <a href="{{article.url}}">
            <button mat-button>Read Article</button>
        </a>
    </mat-card>
</div>

