<mat-accordion multi="true" *ngFor="let etf of etfs">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <p>{{etf.name}}</p>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Ticker: {{etf.ticker}}</p>
        <p>Asset: {{etf.asset}}</p>
        <p>Price: {{etf.price}}</p>
        <p>Portfolio: {{etf.portfolio}}</p>
        <mat-action-row>
            <button mat-button color="primary" (click)="nextStep()">Next</button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>

