.etf-table  {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
}

mat-table {
    width: 50%;

}

.mat-column-name  {
    flex: 0 0 30%;
}

.mat-column-ticker {
    flex: 0 0 9%;
}


.mat-column-price, .mat-column-expenseRatio, .mat-column-inceptionDate {
    flex: 0 0 15%;
}

mat-cell, td.mat-cell, th.mat-header-cell {
    border-bottom-style: none
}
