<div class="mutual-funds">
    <h1>Falcon Investments Mutual Funds</h1>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort (matSortChange)="announceSortChange($event)">

    <ng-container matColumnDef="fundName">
        <th mat-header-cell *matHeaderCellDef>Fund Name</th>
        <td mat-cell *matCellDef="let columns"><a routerLink="">{{columns.fundName}}</a></td>
    </ng-container>
    
    <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef>Symbol</th>
        <td mat-cell *matCellDef="let columns">{{columns.symbol}}</td>
    </ng-container>
    
    <ng-container matColumnDef="inceptionDate">
        <th mat-header-cell *matHeaderCellDef>YTD</th>
        <td mat-cell *matCellDef="let columns">{{columns.inceptionDate}}</td>
    </ng-container>
    
    <ng-container matColumnDef="expenseRatio">
        <th mat-header-cell *matHeaderCellDef>Expense Ratio</th>
        <td mat-cell *matCellDef="let columns">{{columns.expenseRatio}}</td>
    </ng-container>
    
    <ng-container matColumnDef="naV">
        <th mat-header-cell *matHeaderCellDef>NAV</th>
        <td mat-cell *matCellDef="let columns">{{columns.nAV}}</td>
    </ng-container>
    
    <ng-container matColumnDef="action" >
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let columns; let i = index;">
            <div *ngIf="newArr[i]==null">
                <button (click)="addInvestment(i)" mat-mini-fab color="primary" aria-label="icon button with a plus icon">
                    <mat-icon>add</mat-icon>
                </button>
                </div>
                <div *ngIf="newArr[i]==true">
                    <button mat-mini-fab disabled color="primary">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
        </td>
    </ng-container> 

        <!-- <ng-container *ngFor="let column of columns, let i = index" [matColumnDef]="column.columnDef">
            <tr>
            <th mat-header-cell *matHeaderCellDef
                mat-sort-header 
                [sortActionDescription]="column.sortBy">
                {{column.header}}
            </th>
            <td mat-cell *matCellDef="let row"> {{column.cell(row)}}</td>
        <td mat-cell *matCellDef="let row"><button>Text</button></td>
        </tr>
        </ng-container> -->

            <!-- <td>
                <div *ngIf="newArr[i]==null">
                    <button (click)="addInvestment(i)" mat-mini-fab color="primary" aria-label="icon button with a plus icon">
                        <mat-icon>add</mat-icon>
                    </button>
                    </div>
                    <div *ngIf="newArr[i]==true">
                        <button mat-mini-fab disabled color="primary">
                            <mat-icon>add</mat-icon>
                        </button>
                    </div>
            </td> -->
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25]" 
                   showFirstLastButtons
                   aria-label="Select page of mutual funds">
    </mat-paginator>
</div>
