<div class="mutual-funds">
    <h1>Falcon Investments Mutual Funds</h1>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort (matSortChange)="announceSortChange($event)">

    <ng-container matColumnDef="fundName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Fund Name</th>
        <td mat-cell *matCellDef="let filteredFund"><a routerLink="">{{filteredFund.fundName}}</a></td>
    </ng-container>
    
    <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Symbol</th>
        <td mat-cell *matCellDef="let filteredFund">{{filteredFund.symbol}}</td>
    </ng-container>
    
    <ng-container matColumnDef="inceptionDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Inception Date</th>
        <td mat-cell *matCellDef="let filteredFund">{{filteredFund.inceptionDate}}</td>
    </ng-container>
    
    <ng-container matColumnDef="expenseRatio">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Expense Ratio</th>
        <td mat-cell *matCellDef="let filteredFund">{{filteredFund.expenseRatio}}</td>
    </ng-container>
    
    <ng-container matColumnDef="nAV">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>NAV</th>
        <td mat-cell *matCellDef="let filteredFund">{{filteredFund.nAV}}</td>
    </ng-container>
    
    <ng-container matColumnDef="isUsed" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
        <td mat-cell *matCellDef="let filteredFund">
            <div *ngIf="filteredFund.isUsed==false">
                <button (click)="addInvestment(filteredFund.mf_id)" mat-mini-fab color="primary" aria-label="icon button with a plus icon">
                    <mat-icon>add</mat-icon>
                </button>
                </div>
                <div *ngIf="filteredFund.isUsed==true">
                    <button mat-mini-fab disabled color="primary">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
        </td>
    </ng-container> 
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25]" 
                   showFirstLastButtons
                   aria-label="Select page of mutual funds">
    </mat-paginator>
</div>

<div class="detailedMutualFund">
    <div class="title">
        <mat-title>Nmuta Growth Mindset Fund - FINMF</mat-title>
    </div>
    <div class="block1">
        <div class="row1">
            <div>
                <mat-body-1>Inception Date:</mat-body-1>
                <mat-body-1>01/01/01</mat-body-1>
            </div><br>
                
            <div>
                <mat-body-1>Inception Rate:</mat-body-1>
                <mat-body-1>4</mat-body-1>
            </div>
        </div>

        <div class="risk">
            <mat-body-1>Risk</mat-body-1>
            <div class="riskNum">3</div>
        </div>
    </div>


    <div class="row2">
        <div class="r2-1">
            <mat-body-1>yTD</mat-body-1>
            <mat-body-1>3.00</mat-body-1>
        </div>
        <div class="r2-2">
            <mat-body-1>Year 1</mat-body-1>
            <mat-body-1>4.00</mat-body-1>
        </div>
        <div class="r2-3">
            <mat-body-1>Year 3</mat-body-1>
            <mat-body-1>5.00</mat-body-1>
        </div>
        <div class="r2-4">
            <mat-body-1>Year 5</mat-body-1>
            <mat-body-1>6.00</mat-body-1>
        </div>
        <div class="r2-5">
            <mat-body-1>Year 10</mat-body-1>
            <mat-body-1>7.00</mat-body-1>
        </div>

    </div>

    <div class="block2">
        <div class="row3">
            <div>
                <mat-body-1>Expense Ratio:</mat-body-1>
                <mat-body-1>0</mat-body-1>
            </div><br>

            <div>
                <mat-body-1>NAV:</mat-body-1>
                <mat-body-1>0</mat-body-1>
            </div><br>

            <div>
                <mat-body-1>Minimum to purchase $</mat-body-1>
                <mat-body-1></mat-body-1>
            </div>
        </div>

        <div class="add">
            <mat-body-2>Action</mat-body-2>
            <button mat-mini-fab disabled color="primary">
                <mat-icon>add</mat-icon>
            </button>
        </div>

    </div>
    
</div>
