.mfIntro {
    display: flex;
    min-height: 400px;
    background-color: #ede7d0;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    img {
      max-height: 350px;
      border: 1px solid black;
      border-radius: 15px;
    }
}
.mutual-funds  {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
}
table {
    width: 60%;
}

mat-paginator {
    width: 60%;
}

.mat-column-fundName {
    flex: 0 0 16%;
}

.mat-column-inceptionDate, .mat-column-inceptionRate, .mat-column-expenseRatio {
    flex: 0 0 9%;
}

.mat-column-symbol, .mat-column-yTD, .mat-column-yearOne, .mat-column-yearThree, .mat-column-yearFive, .mat-column-yearTen, .mat-column-nAV, .mat-column-risk, .mat-column-minimum{
    flex: 0 0 6%;
}

a {
    text-decoration: none;
}

