.mutual-funds  {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
}

// .mat-table {

//     max-height: 600px;
// }

table {
    width: 60%;
}

.mat-column-fundName {
    flex: 0 0 16%;
}

.mat-column-inceptionDate, .mat-column-inceptionRate, .mat-column-expenseRatio {
    flex: 0 0 9%;
}

.mat-column-symbol, .mat-column-yTD, .mat-column-yearOne, .mat-column-yearThree, .mat-column-yearFive, .mat-column-yearTen, .mat-column-nAV, .mat-column-risk, .mat-column-minimum{
    flex: 0 0 6%;
}

a {
    text-decoration: none;
}
// *** Detailed Mutual Fund *** //
.detailedMutualFund {
    border: 2px solid black;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 350px;
    width: 550px;
}

.title {
    border: 2px black;
    background-color: red;
}

.block1 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    .row1, .risk {
        display: inline;
    }
}

.row1 {
    background-color: blue;
    display: flex;
    flex-direction: column;
}

.riskNum {
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 100%;
    text-align: center;
    display: flex;
    width : 64px;
	height : 64px;
	margin : 0;
	padding : 0;
    background-color: yellow;
}

.row2 {
    display: flex;
    direction: column;
    background-color: green;
    justify-content: space-evenly;
    .r2-1, .r2-2, .r2-3, .r2-4, .r2-5 {
        display: inline;
    }
}

.block2 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    .row3, .add {
        display: inline;
    }
}

.row3 {
    background-color: aqua;
}

