<div class="stocks">
  <h1>Falcon Investments Stocks</h1>
  <mat-spinner *ngIf="isLoadingStocks"></mat-spinner>
  <mat-table [dataSource]="dataSource">
    <!-- User name Definition -->
    <ng-container matColumnDef="stockname" class="columns">
      <mat-header-cell *matHeaderCellDef> Stock name</mat-header-cell>
      <mat-cell *matCellDef="let filteredStock"> {{filteredStock.name}} </mat-cell>
    </ng-container>
    
    <!-- Age Definition -->
    <ng-container matColumnDef="symbol" class="columns">
      <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
      <mat-cell *matCellDef="let filteredStock"> {{filteredStock.symbol}} </mat-cell>
    </ng-container>
    
    <!-- Title Definition -->
    <ng-container matColumnDef="price" class="columns">
      <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
      <mat-cell *matCellDef="let filteredStock"> {{filteredStock.price | currency}} </mat-cell>
      
      
    </ng-container>
    
 
    <ng-container matColumnDef="isUsed" class="columns">
      <mat-header-cell mat-header-cell *matHeaderCellDef >Add?</mat-header-cell>
      <mat-cell mat-cell *matCellDef="let filteredStock">
          <div *ngIf="filteredStock.isUsed==false">
              <button (click)="addToCart(filteredStock.id)" mat-mini-fab color="primary" aria-label="icon button with a plus icon">
                  <mat-icon>add</mat-icon>
              </button>
              </div>
              <div *ngIf="filteredStock.isUsed==true">
                <button mat-mini-fab disabled color="primary">
                  <mat-icon>add</mat-icon>
              </button>
              </div>
      </mat-cell>
  </ng-container> 
  
    <!-- Header and Row Declarations -->
    <mat-header-row *matHeaderRowDef="['stockname', 'symbol', 'price', 'isUsed' ]"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
  
  
  <mat-paginator [pageSizeOptions]="[5, 10, 25]" 
  showFirstLastButtons
  aria-label="Select page of stocks">
</mat-paginator>
</div>

  <button mat-raised-button color="primary" routerLink="/cart" id="cart-button">
    <mat-icon>shopping_cart</mat-icon> Checkout
  </button>