
<div class="wrapper">
    <div *ngIf="userToGreet">
      <h1>Welcome, {{ userToGreet.firstName }}!</h1>
    </div>
    <div class="container">
      <div>
        <mat-card>
          <h2>User info</h2>
          <div class="info">
            <table >
              <tr>
                <th>Name:</th><td>{{userToGreet ? userToGreet.firstName : 'User'}} {{userToGreet ? userToGreet.lastName : 'User'}}</td>
              </tr>
              <tr>
                <th>Email:</th><td>{{userToGreet ? userToGreet.email : 'Email'}}</td>
              </tr>
              <ng-container >
                <tr>
                  <th>Account Type:</th><td>{{accounts ? accounts.label : 'type'}}</td>
                </tr>
                <tr>
                  <th>Balance:</th><td>{{accounts.balance | currency}}</td>
                </tr>
                <tr>
                  <th>Annual Contribution:</th><td>{{accounts.annualContribution | currency}}</td>
                </tr>
                <tr>
                  <th>Account Date:</th><td>{{accounts.createdAt |  date}}</td>
                </tr>
              </ng-container>
          </table>
        </div>
      </mat-card>
      </div>
      <div>
        <mat-card
          ><h2>Investment Portfolio</h2>
          <table class="investments">
            <th>Investment Name</th>
            <th>Symbol</th>
            <th>Investment Type</th>
            <th>Expense Ratio</th>
            <th>NAV</th>
            <th>Date Created</th>
            <th>Delete</th>
  
            <tr *ngFor="let investment of investments, let i = index">
              <td>{{ investment.name }}</td>
              <td>{{ investment.symbol }}</td>
              <td>{{ investment.type }}</td>
              <td>{{ investment.expenseRatio }}</td>
              <td>{{ investment.nAV | currency }}</td>
              <td>{{ investment.inceptionDate | date }}</td>
              <button (click)="deleteInvestment(investment.id, i)" mat-mini-fab color="primary" aria-label="icon button with a plus icon">
                <mat-icon>delete</mat-icon>
            </button>
            </tr>
          </table>
          <a routerLink="/mutualfunds">Add Mutual Funds</a>
          <a routerLink="/etfs">Add ETFs</a>
        </mat-card>
      </div>
    </div>
  </div>

<!-- <app-news></app-news> -->
  
