.welcome {
  display: flex;
  min-height: 400px;
  background-color: #ede7d0;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  img {
    max-width: 600px;
    border: 1px solid black;
    border-radius: 15px;
  }
}

.accounts {
  min-height: 400px;
  background-color: #549369;
  padding: 10px 20px 40px 20px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-bottom: 3rem;
  h2 {
    padding: 20px;
    font-size: 36px;
    margin-left: 30px;
  }
  div {
    display: flex;
    justify-content: space-evenly;
    .ira {
      border-right: 1px solid black;
    }
    aside {
      padding: 5px 60px 30px 60px;
      text-align: left;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      li {
        text-align: left;
      }
      a {
        text-decoration: none;
        color: white;
        background-color: #1d3557;
        padding: 7px;
        border-radius: 5px;
        width: 130px;
        text-align: center;
      }
      a:hover {
        background-color: #3336908e;
      }
    }
  }
}

.investments {
  min-height: 400px;
  background-color: #ede7d0;
  padding: 10px 20px 40px 20px;
  h2 {
    padding: 20px;
    font-size: 36px;
    margin-left: 30px;
  }
  div {
    display: flex;
    justify-content: space-evenly;
    .mutual-funds {
      border-right: 1px solid black;
      border-left: 1px solid black;
    }
    aside {
      padding: 40px;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      a {
        text-decoration: none;
        color: white;
        background-color: #1d3557;
        padding: 7px;
        border-radius: 5px;
      }
      a:hover {
        background-color: #3336908e;
      }
    }
  }
}

h2 {
  font-size: 34px;
  font-family: "Merriweather", serif;
}

h3 {
  font-size: 24px;
  font-family: "Playfair Display", serif;
}

mat-icon {
  margin: 20px auto 30px auto;
  font-size: 30px;
}





#inv-prod {
  margin-left: 4rem;
}


mat-tab-group {
  height: 500px;
  margin: 0 50px 1rem;
  mat-tab {
      width: 80%;
    }
  .investment {
    height: 100%;
    margin: 0;
    // width: 500px;

  }
  .investment p {
    width: 600px;
    margin: 20px auto 30px auto;
  }
}
.investment {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inv-container {
  flex: 50%;
  height: auto;
}



::ng-deep mat-tab-body {
  text-align: center;
}




// a {
//   text-decoration: none;
//   color: white;
//   background-color: #1d3557;
//   padding: 7px;
//   border-radius: 5px;
// }
// a:hover {
//   background-color: #3336908e;
// }

button {
  background-color: #1d3557;
  color: white;
  font-family: serif;
  text-align: center;
  // padding: 3px 5px;
  width: 130px;
  font-size: 19px;
}

button:hover {
  background-color: #3336908e;
}
